<head>
<style>
.tiledBackground {
  background-image: url(/assets/Finlogo.jpg);
  background-size: 75px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.test {
  padding:5px;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var backgroundDiv = document.querySelector('.tiledBackground');
      backgroundDiv.addEventListener('click', function() {
        window.location.href = '/';
      });
    });
</script>
</head>

<header class="page-header">
  <div class="container">
    <div class="page-header__content">

      <div class="tiledBackground">
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li class="test">
            <a href="/about/">About</a>
          </li>
          <li class="test">
            <a href="/blog/">Articles</a>
          </li>
          <li class="test">
            <a href="mailto:chenjacob@outlook.com">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>